# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#User-specific files
*.suo
*.csproj.user
*.sln.DotSettings.user
*.ncrunchproject
*.ncrunchsolution.user
_NCrunch_CarSearch

#Vim backup files
*~

#Resharper files
_ReSharper.*
*.resharper
*.resharper.user

#Others
*.cache

#Packages
src/packages/*
!src/packages/repositories.config
